/powerful_csz.py
/powerful_csz.py.txt
/powerful_csz -test.py
/powerful_csz -test.py.txt
/powerful_djh.py
/powerful_djh.py.txt
/powerful_myf.py
/powerful_myf.py.txt
/powerful_pzp.py
/powerful_pzp.py.txt
/test.py
/.gitignore